
*.pyc
__pycache__/


.venv/
env/
venv/


dist/
build/
*.egg
*.manifest
*.spec
hello.py

logs/
*.log
*.out
*.err


.coverage
.coverage.*
htmlcov/
coverage.xml

.pytest_cache/


.idea/


.DS_Store
Thumbs.db
.ruff_cache
demo.cast